@page
@model WaterProject2.Pages.DonateModel
@{
}

<h2>Your basket</h2>

<table class="table table-bordered table-striped">

    <thread>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Subtotal</th>
        </tr>
    </thread>

    <tbody>
        @foreach(var i in Model.basket.Items)
        {
            <tr>
                <td>@i.Project.ProjectName</td>
                <td>@i.Quantity</td>
                <td>$25.00</td>
                <td>@((i.Quantity * 25).ToString("#,##0.00"))</td>

                <td class="text-center">
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="projectId" value="@i.Project.ProjectId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>$@Model.basket.CalculateTotal().ToString("#,##0.00")</td>
        </tr>
    </tfoot>
</table>

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Browsing</a>
    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Donation">Checkout</a>
</div>
